<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="false" default-autowire="byName">

    <!-- 认证 -->
    <import resource="classpath:spring-config-authen.xml"/>
    <!-- 安全-->
    <!--<import resource="spring-config-security.xml"/>-->

    <context:component-scan base-package="com.share.example.web.controller"/>
    <aop:aspectj-autoproxy expose-proxy="true"/>
    <context:annotation-config/>

    <mvc:annotation-driven>

    </mvc:annotation-driven>
    <mvc:default-servlet-handler/>

    <!-- static resources -->
    <mvc:resources location="/static/" mapping="/static/**"
                   cache-period="864000"/>
    <!-- 24 * 3600 * 10 -->

    <util:map id="velocityTools">
        <!--系统本身的url-->
        <entry key="exampleModule">
            <bean class="com.share.common.web.url.UrlBuilder">
                <constructor-arg value="http://${example.domain.name}" />
            </bean>
        </entry>
        <entry key="stringEscapeUtils">
            <bean class="com.share.common.util.StringEscapeUtils"/>
        </entry>
        <entry key="dateFormatUtils">
            <bean class="com.share.common.util.DateFormatUtils"/>
        </entry>
        <entry key="dateUtils">
            <bean class="org.apache.commons.lang.time.DateUtils"/>
        </entry>
        <entry key="localHost">
            <bean class="com.share.common.network.LocalHost"/>
        </entry>
        <entry key="decimalFormatUtils">
            <bean class="com.share.common.util.DecimalFormatUtils"/>
        </entry>
        <entry key="numberUtils">
            <bean class="org.apache.commons.lang.math.NumberUtils"/>
        </entry>
    </util:map>

    <!-- template view -->
    <bean id="velocityConfig"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/vm"/>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
                <prop key="contentType">text/html;charset=UTF-8</prop>
                <prop key="velocimacro.library">macro.vm</prop>
            </props>
        </property>
    </bean>

    <bean id="velocityViewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="layoutUrl" value="/layout/default.vm"/>
        <property name="cache" value="false"/>
        <property name="suffix" value=".vm"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="dateToolAttribute" value="dateTool"/>
        <property name="numberToolAttribute" value="numberTool"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="attributesMap" ref="velocityTools"/>
    </bean>


    <!-- locale related -->
    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="_clientlocale"/>
        <property name="defaultLocale" value="zh_CN"/>
        <property name="cookieMaxAge" value="2147483647"/>
    </bean>

    <!-- exception related -->
    <!-- all exception handler will be registered by DispatcherServlet default
         (detectAllHandlerExceptionResolvers=true) -->
    <bean class="com.share.example.web.interceptor.ExampleMappingExceptionResolver">
        <property name="defaultErrorView" value="error"/>
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.RuntimeException">error</prop>
                <prop key="java.lang.Exception">error</prop>
                <prop key="java.lang.Throwable">error</prop>
                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">error</prop>
            </props>
        </property>
    </bean>


    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- -->
        <!--<property name="maxUploadSize" value="1000000"/>  -->
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.share.example.web.interceptor.RequestRefererInterceptor">
                <property name="invalidRedirectUrl" value="${example.home.address}"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>