<form class="form-signin" action="login" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>

    <div class="error-code">$!{err_code}</div>
    <input type="text" class="form-control" name="name" value="$!user.name"/>
    <input type="password" class="form-control" placeholder="Password" required name="password"
           value="$!{user.password}"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>