#* @vtlvariable name="example" type="com.share.example.domain.example.Example" *#
#* @vtlvariable name="exampleId" type="java.lang.Integer" *#
#* @vtlvariable name="result" type="com.jd.common.web.result.Result" *#

#if($result.success == true)
您已经成功修改。 <br/>
<a href="list.action">点击这儿点到列表</a>
#else
    #parse("/example/update.vm")
#end
