#* @vtlvariable name="example" type="com.share.example.domain.example.Example" *#
#* @vtlvariable name="message" type="java.lang.Integer" *#
#* @vtlvariable name="sequence" type="java.lang.Integer" *#
#* @vtlvariable name="examples" type="com.jd.common.util.PaginatedList<com.share.example.domain.example.Example>" *#
#* @vtlvariable name="page" type="com.jd.common.util.PaginatedList" *#
#* @vtlvariable name="exampleModule" type="com.jd.common.web.url.JdUrl" *#
#set($title = "增删改查实例")

<head>All：$message</head>
#showSimpleMessage()
<a href="$!exampleModule.getTarget("/example/add.action")">点击这儿新增</a>

<form id="explF" action="list.action" method="get">
    <input id="exampleId" type="hidden" name="id" size="30" value="">
    名称：<input type="text" name="name" />
    类型：<input type="text" name="type" />
    <input type="submit"/>
</form>

<table border="1" style="outline:aqua" cellpadding="0" cellspacing="0" width="500">
    <thead>
    <th>名称</th>
    <th>类型</th>
    <th>创建日期</th>
    <th>删除</th>
    <th>修改</th>
    </thead>
    <tbody>
        #foreach($example in $examples)
        <tr>
            <td>$!example.name</td>
            <td>$!example.type</td>
            <td>$!dateFormatUtils.format($!example.created,"yyyy-MM-dd")</td>
            <td>
                <input type="button" onclick="rem('$!example.id');" value="delete">
            </td>
            <td>
                <input type="button" onclick="edit('$!example.id');" value="edit">
            </td>
        </tr>
        #end
    </tbody>
</table>

#set($pageModule = $exampleModule.getTarget("/example/list.action").addQueryData("query",$!query).addQueryData(
    "key",["a","b","c"]).addQueryData("pageSize",$!pageSize))
#showPage($pageModule $examples)

<script type="text/javascript" src="/scripts/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    function query(){
        $("#explF").attr('action','$!exampleModule.getTarget("/example/list.action")').submit();
    }
    function rem(exampleId){
        $("#exampleId").val(exampleId);
        $("#explF").attr('action', '$!exampleModule.getTarget("/example/delete.action")').submit();
    }
    function edit(exampleId){
        $("#exampleId").val(exampleId);
        $("#explF").attr('action','$!exampleModule.getTarget("/example/update.action")').submit();
    }
</script>