#* @vtlvariable name="example" type="com.share.example.domain.example.Example" *#
#* @vtlvariable name="message" type="java.lang.Integer" *#
#* @vtlvariable name="sequence" type="java.lang.Integer" *#
#* @vtlvariable name="examples" type="com.share.common.util.PaginatedList<com.share.example.domain.example.Example>" *#
#* @vtlvariable name="page" type="com.share.common.util.PaginatedList" *#
#* @vtlvariable name="exampleModule" type="com.share.common.web.url.UrlBuilder" *#
#set($title = "增删改查实例")
hello,$!localHost.machineName<br>
<head>#showSimpleMessage()</head>
<a href="$!exampleModule.forPath("/example/add.action").build()">点击这儿新增</a>

<form id="explF" action="$!exampleModule.forPath("/example/list.action").build()" method="get">
    <input id="exampleId" type="hidden" name="id" size="30" value="">
    名称：<input type="text" name="name" value="$!query.name"/>
    类型：<input type="text" name="type" value="$!query.type"/>
    <input type="submit"/>
</form>

<table border="1" style="outline:aqua" cellpadding="0" cellspacing="0" width="500">
    <thead>
    <th>id</th>
    <th>名称</th>
    <th>类型</th>
    <th>创建时间</th>
    <th>修改时间</th>
    <th>操作</th>
    </thead>
    <tbody>
        #foreach($example in $examples)
        <tr>
            <td>$!example.id</td>
            <td>$!example.name</td>
            <td>$!example.type</td>
            <td>$!dateFormatUtils.format($!example.created,"yyyy-MM-dd")</td>
            <td>$!dateFormatUtils.format($!example.modified,"yyyy-MM-dd")</td>
            <td>
                <a href="$!exampleModule.forPath("/example/update.action").put("id", $!example.id).build()">edit</a>
                <input type="button" onclick="rem('$!example.id');" value="delete">
            </td>
        </tr>
        #end
    </tbody>
</table>

#set($pageModule = $exampleModule.forPath("/example/list.action").put("query",$!query).put("pageSize",$!pageSize))
#showPage($pageModule $examples)

<script type="text/javascript" src="/scripts/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    function rem(exampleId){
        $("#exampleId").val(exampleId);
        $("#explF").attr('action', '$!exampleModule.forPath("/example/delete.action").build()').submit();
    }
</script>